

input{ 
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.submit{ 
    background: blue;
}
.main{
    width: 600px;
    margin: 20px auto;
    padding: 22px;
    background: cyan;
    border-radius: 5px;
    box-shadow: 6px 2px 30px 0px red;
}

.tache{ 
    background: darkgray;
    margin: 10px;
    padding: 20 px;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;

}
a{ 
    text-decoration: none;
}
h3{ 
    margin-left: 50%;
   font-family: 'Times New Roman', Times, serif;
}
#id_titre{ 
    width: 30%;
    margin-left: 30%;
    border: solid black;
    border-radius: 10px;
}

#sub{
    width: 20%;
    border-radius: 10px;
}
